
.ipynb_checkpoints/001-checkpoint.json
.ipynb_checkpoints/API-checkpoint.ipynb
.ipynb_checkpoints/seal_all-checkpoint.json
.DS_Store
data/.ipynb_checkpoints/001-checkpoint.json
data/.ipynb_checkpoints/014-checkpoint.json
data/.ipynb_checkpoints/100-checkpoint.json
*.jpg
