
.ipynb_checkpoints/001-checkpoint.json
.ipynb_checkpoints/API-checkpoint.ipynb
.ipynb_checkpoints/seal_all-checkpoint.json
.DS_Store
data/.ipynb_checkpoints/001-checkpoint.json
data/.ipynb_checkpoints/014-checkpoint.json
data/.ipynb_checkpoints/100-checkpoint.json
*.jpg
.ipynb_checkpoints/01_API_seals-checkpoint.ipynb
.ipynb_checkpoints/02_API_sealOwner-checkpoint.ipynb
.ipynb_checkpoints/03_API_libliotheca-checkpoint.ipynb
.ipynb_checkpoints/libliotheca_all-checkpoint.json
.ipynb_checkpoints/sealOwner_all-checkpoint.json
data_sealOwner/.ipynb_checkpoints/001-checkpoint.json
data_sealOwner/.ipynb_checkpoints/005-checkpoint.json
img.zip
*.png
*.zip
readings/篆刻学-邓散木.pdf
02_ImageProcessing/seal_binary_arr.pkl
