* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fcfaf2;
  zoom: 50%;
}

/* font
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hljs {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: 1px;
}
h1 {
  color: black;
  font-size: 28px;
  margin-bottom: 18px;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  color: lightgray;
  font-size: 26px;
  margin-bottom: 18px;
  font-family: "Times New Roman", Times, serif;
}
h3 {
  color: #ab3b3a;
  font-weight: bolder;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 15px;
  text-shadow: #9f9f9f;
  font-family: "Times New Roman", Times, serif;
}
h4 {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: initial;
  margin-bottom: 10px;
}
h5 {
  font-size: 14px;
  color: #2f2f2f;
  font-weight: initial;
  margin-bottom: 18px;
  line-height: 1.3;
}
h6 {
  color: white;
}

button {
  border: 0;
  background-color: #9f9f9f;
  color: white;
  padding: 2px 6px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
}

p {
  font-size: 16px;
  color: white;
  margin-bottom: 12px;
  line-height: 1.3;
}

/* banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
  background-color: #ab3b3a;
  padding: 2rem, 2rem, 2rem, 2rem;
  width: 100%;
  height: 5rem;
}

.banner h1 {
  color: #ffffff;
  display: inline-block;
  font-size: 2.2rem;
  padding-top: 20px;
  line-height: 1;
  padding-left: 10px;
  letter-spacing: 5px;
  font-family: "Times New Roman", Times, serif;
}

.banner Img {
  position: relative;
  float: left;
  height: 3.8rem;
  padding-left: 15px;
  padding-top: 10px;
}

/* column
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.app_body {
  display: flex;
  gap: 15px;
  width: 100%;
}

.left_column {
  width: 20%;
}

.classify_button_card {
  width: 100%;
  display: flex;
  gap: 15px;
}

.axis_1 {
  width: 50%;
}

.axis_2 {
  width: 50%;
}

.classify_dropdown_card {
  width: 100%;
  display: flex;
  gap: 15px;
}

.main_options {
  width: 50%;
}

.sub_options {
  width: 50%;
}

.img_titlebar_1 {
  width: 100%;
  display: flex;
}

.img_titlebar_2 {
  width: 100%;
  display: flex;
}

.img_options_1 {
  width: 20%;
  align-self: center;
  margin-left: auto;
}

.img_options_2 {
  width: 20%;
  align-self: center;
  margin-left: auto;
}

.graphic_titlebar_1,
.graphic_titlebar_2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.seal_num {
  width: 100%;
  display: flex;
}

.seal_num :last-child {
  align-self: center;
  padding-left: 5px;
}

.right_column {
  width: 20%;
  background-color: blue;
}

.mid_column {
  width: 60%;
  /* background-color: paleturquoise; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 1rem;
}

.mid_column h3 {
  padding-left: 1.2rem;
}

.mid_column_imgs {
  width: 100%;
  display: flex;
  gap: 15px;
}

.img_selection_1 {
  width: 50%;
  align-self: center;
}

.img_selection_2 {
  width: 50%;
  /* align-self: center; */
}

.img_border {
  background-color: #fcfaf2;
  border: #828282;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgrey;
}

.graphic_border {
  background-color: #fcfaf2;
  border-radius: 5px;
}

.mid_column_graphs {
  width: 100%;
  display: flex;
  gap: 15px;
}

.classify_graphic {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#classify_graphic {
  height: 300px;
}

.share_graphic {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#share_graphic {
  height: 300px;
}

.sides {
  background-color: #373c38;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
}

#info_table_1 {
  height: 420px;
}

#info_table_2 {
  height: 150px;
}

/* Special purpose buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.reset-button {
  width: 100%;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
}

.info-icon {
  float: right;
  cursor: pointer;
  height: 1.2rem;
}

.mid_column .info-icon {
  margin-right: 1rem;
}

/* Modal info layer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  z-index: 1002; /* Sit on top, including modebar which has z=1001 */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-title {
  color: white;
}

.modal-content {
  z-index: 1004; /* Sit on top, including modebar which has z=1001 */
  position: fixed;
  left: 0;
  width: 60%;
  background-color: #ab3b3a;
  color: white;
  border-radius: 5px;
  margin-left: 20%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.modal-content p {
  color: white;
}

.modal-content > div {
  text-align: left;
  margin: 15px;
}

.modal-content.bottom {
  bottom: 0;
}

.modal-content.top {
  top: 0;
}

/* For devices larger than 1200px */
@media (min-width: 1000px) {
  body {
    zoom: 80%;
  }
}

/* For devices larger than 1500px */
@media (min-width: 1700px) {
  body {
    zoom: 100%;
  }
}
